<style>
    md-input-container input {
        color : black !important;
    }
</style>
<md-input-container layout="row">
    <md-input-container>
        <label for="domainName">域账户</label>
        <input id="domainName" ng-model="$ctrl.user.domainName" ng-blur="$ctrl.checkUser()">
    </md-input-container>
    <md-input-container>
        <label>用户名</label>
        <input ng-model="$ctrl.user.userName">
    </md-input-container>
    <md-input-container>
        <label>手机号</label>
        <input ng-model="$ctrl.user.mobile">
    </md-input-container>
    <md-input-container>
        <label>分机号</label>
        <input ng-model="$ctrl.user.phone">
    </md-input-container>
    <md-input-container>
        <md-select ng-model="$ctrl.user.team" placeholder="请选择销售分组">
            <md-option ng-value="item" ng-repeat="item in $ctrl.teams">{{ item.title }}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>用户编号</label>
        <input ng-model="$ctrl.user.userId">
    </md-input-container>
    <md-button ng-click="$ctrl.save()" class="md-primary">保存</md-button>
</md-input-container>

<div>
    <h4 ng-show="$ctrl.userExists">用户已经存在，无需再次添加</h4>
</div>
