<div>
    <md-input-container >
        <md-select ng-model="$ctrl.selectedCampus" placeholder="请选择校区">
            <md-option ng-value="item" ng-repeat="item in $ctrl.campus">{{ item.name }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container >
        <md-select ng-model="$ctrl.selectedResultType" placeholder="请选择运行结果">
            <md-option ng-value="item" ng-repeat="item in $ctrl.resultTypes">{{ item.name }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <button ng-click="$ctrl.getData(1)">搜索</button>
    </md-input-container>
</div>
<div>
    <d-date-time-picker start-time="$ctrl.startTime" end-time="$ctrl.endTime" date-group="$ctrl.dateGroup"></d-date-time-picker>
</div>

<div>
    <d-pager current-page="$ctrl.currentPage" total-page="$ctrl.totalPage" display-page-number="5" record-per-page="$ctrl.recordPerPage" callback="$ctrl.getData" total-records="$ctrl.totalRecords"></d-pager>
    <d-grid grid-data="$ctrl.logs" column-defines="$ctrl.__columnDefines" operations="$ctrl.__operations"></d-grid>
</div>


<div style="visibility: hidden; width:400px;">
    <div class="md-dialog-container" id="textBrowser">
        <md-dialog layout-padding="" style="width:800px;height:600px;">
            <div style="overflow-y: auto">
                <textarea style="width: 100%;height: 95%;">{{$ctrl.currentRecord.displayText}}</textarea>
            </div>
        </md-dialog>
    </div>
</div>
