<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>com.doubeye.callback.service.CallbackLoggerService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>com.doubeye.callback.service.AsrResultService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>com.doubeye.callback.service.ResultRemoveService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>

</web-app>